
@model List<MvcProjesi.Data.Etiket>
<div style="border:1px solid yellow;padding:25px;text-align:center;">
    <h2>En Çok Kullanılan On Etiket</h2>
    @{
    int sayi = 0;
    while (sayi < Model.Count())
    {
    <ul style="border:1px solid yellow">
        <li>
            
            @Html.ActionLink(Model[sayi].Icerik, "EtiketinMakaleleri", new { etiketId = Model[sayi].EtiketId })
        </li>
    </ul>
        sayi++;
    }
    }
</div>







